<!DOCTYPE html>
<html>
    <head>
        <title>Blog app</title>
        <link rel = "stylesheet" type = "text/css" href = "https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel = "stylesheet" type = "text/css" href = "/stylesheets/app.css">
    </head>
    <body>  
        <div class = "ui fixed inverted menu">
            <div class = "ui container">
                <div class="header item"><i class = "yelp icon"></i>Blog Site</div>
                <a href="/blogs" class= "item">All blogs</a>
                <a href="/blogs/new" class="item">Submit New Blog</a>
                <% if (!currentUser){ %>
                    <a href="/register" class = "item"> register</a>
                    <a href="/login" class = "item"> Login</a>
                <% } else { %>
                    <a href="#" class = "item"> <%= currentUser.username %></a>
                    <a href="/logout" class = "item"> Logout</a>
                <% } %>
                
                
            </div>
        </div>





