<%- include("partials/header") %>
<h1>Search page</h1>
<form action = "/campground", method = "POST">
    <input type = "text" placegholder = "enter name" name = "nameofimage">
    <input type = "text" placegholder = "enter url" name = "urlofimage">
    <input type = "submit">
</form>
<%- include("partials/footer") %>